.service-card{
    padding-top: 10%;
    padding-bottom: 10%;
    margin: 10%;
    box-shadow: 5px 5px 20px;
    border-radius: 10px;
    
}

.service-card .btn {
    background-image: linear-gradient(40deg,#7a7a7a ,#05091a);
    border:none;
}
.service-card .btn:hover {
    background-image: linear-gradient(60deg,#05091a ,#7a7a7a);

}
.service-section{
    font-family: 'Fira Sans', sans-serif;

}
.service-section h3{
    margin: 20px 0;
}